.tarjeta {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 24%;
	padding: 10px;
	background-color: black;
	margin-bottom: 10px;
	border-radius: 2%;
}
.tarjeta-invertida {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 24%;
	padding: 10px;
	background-color: black;
	margin-bottom: 10px;
	border-radius: 2%;
}

.tarjeta img {
	height: 250px;
}

.boton-eliminar {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
	
}

.boton-eliminar button {
	background-color: red;
	width: 10%;
	height: 25px;
	
}