.card-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}
.card-container-invertido {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 20px;

}
.card-container-invertido article {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	min-width: 100%;
	align-items: center;
	justify-content: space-between;
	padding: 20px;

}
.card-container-invertido main  {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 20px;
	align-items: center;
}


.cargar{
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
	background-color: rgba(62, 58, 63, 0.568);
}